<!-- app/views/user_mailer/movie_back_in_stock.html.erb -->
<p>Hello <%= @user.first_name %>,</p>
<p>The movie "<%= @movie.title %>" you requested is now back in stock!</p>
<p>Please visit our store to rent it before it's gone again.</p>
