<div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog"
     style="display: none;" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content mvi-form-modal" data-hook="data-container">
    </div>
  </div>
</div>
