<% if @allow_filter %>
  <%= filters_for polymorphic_path([:admin, Actor]), remote: true do |filter| %>
    <div class="filters-inner mb20">
      <div class="row">
        <!-- Filter list start -->
<%= filter.on :search, label: 'search by', as: :string %>
        <!-- Filter list end -->
        <%= render partial: 'shared/filter_controls' %>
      </div>
    </div>
  <% end %>
<% end %>
