<!-- app/views/layouts/pdf.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= content_for?(:title) ? yield(:title) : "PDF Document" %></title>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body>
<%= yield %>
</body>
</html>
